[submodule "spec/vendor/objectDiff"]
	path = spec/vendor/objectDiff
	url = https://github.com/NV/objectDiff.js.git
[submodule "spec/vendor/jasmine-html-reporter"]
	path = spec/vendor/jasmine-html-reporter
	url = https://github.com/NV/jasmine-html-reporter.git
